@model Reflix.Models.MovieTitle

@{
    ViewBag.Title = "Details";

    string startDate = ViewBag.StartDate;
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-9">
        <h2>@Model.Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <img src="@Model.BoxArt" />
    </div>
    <div class="col-md-9">
        <dl>
            <!--
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd style="padding-bottom: 12px">
                @Html.DisplayFor(model => model.Name)
            </dd>
            -->
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </dt>

            <dd style="padding-bottom: 12px">
                @Html.DisplayFor(model => model.ReleaseYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd style="padding-bottom: 12px">
                @Html.DisplayFor(model => model.Rating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Runtime)
            </dt>

            <dd style="padding-bottom: 12px">
                @Html.DisplayFor(model => model.Runtime) minutes
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Synopsis)
            </dt>

            <dd style="padding-bottom: 12px">
                @Html.DisplayFor(model => model.Synopsis)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>

            <dd style="padding-bottom: 12px">
                <a href="@Model.Url" target="_blank">@Model.Url</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BoxArt)
            </dt>

            <dd style="padding-bottom: 12px">
                <a href="@Model.BoxArt" target="_blank">@Model.BoxArt</a>
            </dd>

        </dl>
    </div>
    <div class="col-md-1">
    </div>
</div>
<hr />
<p>
    @*Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index", new { startDate = startDate }, new { @class = "btn btn-primary" })
</p>
