@model IEnumerable<Reflix.Models.TitleViewModel>
@using Reflix.Helpers
@{
    ViewBag.Title = "Reflix - Home Page";
    Layout = "~/Views/Shared/_LayoutMetroBS.cshtml";
}

<div class="page-header">
    <h1>Releasing on DVD <small>@ViewBag.Message</small></h1>
</div>
<div class="subnav">
    @if (ViewBag.DisplayAll == false)
    { 
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Previous Week", "Index", new { startDate = ((DateTime)ViewBag.StartDate).AddDays(-7).ToString("yyyy-MM-dd") })</li>
        @if ((DateTime)ViewBag.EndDate < DateTime.Now.Date)
        { 
            <li>@Html.ActionLink("Next Week", "Index", new { startDate = ((DateTime)ViewBag.StartDate).AddDays(7).ToString("yyyy-MM-dd") })</li>
        }
    </ul>
    }
</div>
@foreach(var m in Model)
{
    // Skip all entries where the URL is null, can't link to Netflix anyway
    if (m.Title.Url == null)
    {
        continue;
    }
    <div class="row">
        <div class="span2">
            <img src="@m.Title.BoxArt" alt="@m.Title.Name" style="margin-top:15px; width: 110px; height: 150px;" />
        </div>
        <div class="span10">
            <h2>@m.Title.Name <small>@m.Title.Id / @m.RssWeekOf.ToString("dd-MMM-yyyy")</small></h2>
            <div class="row">
                <div class="span10">
                <span style="padding: 5px 10px 5px 10px;">@m.Title.ReleaseYear</span>
                <span class="label label-inverse">@m.Title.Rating</span>
                <span style="padding: 5px 10px 5px 10px;">@m.Title.Runtime minutes</span>
                <span class="label label-inverse">@m.Source</span>
                </div>
            </div>
            <table class="table">
                <tr>
                    <td style="width: 100px; text-align: right;"><strong>Cast:</strong></td>
                    <td>@foreach (var actor in m.Title.Cast)
                    {
                        <a href="@actor.Url" target="_blank">@actor.Name</a><span>,</span>
                    }</td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right;"><strong>Director:</strong></td>
                    <td>@foreach (var director in m.Title.Directors)
                    {
                        <a href="@director.Url" target="_blank">@director.Name</a>
                    }</td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right;"><strong>Genre:</strong></td>
                    <td>@string.Join(", ", m.Title.Genres.ToArray())</td>
                </tr>
            </table>
            <div class="row">
                <div class="span10">
                    <blockquote>@m.Title.Synopsis.RemoveMarkup()</blockquote>
                </div>
            </div>
            @if (m.Title.Id.Contains(":"))
            {
                <a class="btn btn-primary" href="@("http://dvd.netflix.com/Search?v1=" + m.Title.Name.Replace(" ", "+"))" target="_blank">Search Netflix</a>
                <a class="btn btn-primary" href="@m.Title.Url" target="_blank">Open in @m.Source</a>
            }
            else
            { 
                <a class="btn btn-primary" href="@m.Title.Url.Replace("www.", "dvd.")" target="_blank">Open in Netflix</a>
            }
            <div class="page-header"></div>
        </div>
    </div>
}
