@model IEnumerable<Reflix.Netflix.Title>
@{
    ViewBag.Title = "IndexSO";
    Layout = "~/Views/Shared/_LayoutSO.cshtml";
}
@section sidebar {
}
<h3>Releasing this week:</h3>
<ol class="round">
    @foreach(var title in Model)
    {
    <li>
        <img style="float: left; margin-top: 12px;" src="@title.BoxArt.LargeUrl" alt="@title.Name" />
        <ul style="list-style: none; margin-left: 50px;">
            <li><h2>@title.Name</h2></li>
            <li><span style="margin-right: 0.8em;">@title.ReleaseYear</span><span style="border: 1px white solid; background: #5f5f5f; padding: 0 0.5em; color: white; margin-right: 0.8em;">@title.Rating</span><span class="duration">@(title.Runtime / 60) minutes</span></li>
            <li>
                <table>
                    <tr>
                        <td style="font-weight: bold; text-align: right;">Cast:</td>
                        <td>@foreach (var actor in title.Cast)
                      {
                          <a href="@string.Format("http://dvd.netflix.com/RoleDisplay/{0}/{1}?lnkce=mdp-cast", actor.Name.Replace(" ", "_"), actor.Id)">@actor.Name</a>
                      }</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; text-align: right;">Director:</td>
                        <td>@foreach (var director in title.Directors)
                      {
                          <a href="@string.Format("http://dvd.netflix.com/RoleDisplay/{0}/{1}?lnkce=mdp-cast", director.Name.Replace(" ", "_"), director.Id)">@director.Name</a>
                      }</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; text-align: right;">Genre:</td>
                        <td>@foreach (var genre in title.Genres)
                      {
                          @(genre.Name + ", ")
                      }</td>
                    </tr>
                </table>
            </li>
            <li style="margin: 18px 0 12px 0;">@title.Synopsis</li>
            <li><a href="@title.Url.Replace("www.", "dvd.")" target="_blank">Open in Netflix…</a></li>
        </ul>
    </li>
    }
</ol>
